<%= link_to("<< Back to List") %>

<div>
  <h2>Report</h2>

  <table>

      <td><% @actual.each do |actual| %></td>
      <tr>
        <td><%=actual.attendance%></td>
        <td><%= @pupils.find(actual.pupil_id).first_name %><td>
        <td><%= @pupils.find(actual.pupil_id).last_name %><td>
        <td><%= @pupils.find(actual.pupil_id).classroom_id %><td>
      </tr>
        <%end%>


  </table>

</div>
